{% extends 'base.html' %}

{% block endAddon %}
<script src="/js/formButton.min.js"></script>
{% endblock %}

{% block content %}
<section>
    <h1>Confirm to Delete Image</h1>
    <p>
        Are you sure you want to delete the image, {{ image.object }} - {{ image.date | date }}?
    </p>
    <div class="selection">
    <form action="/admin/delete-image/" method="POST">
        <input type="hidden" name="id" value="{{ image.image_id }}">
        <input id="sendForm" type="submit" value="Yes">
    </form>
    <form action="/admin" method="GET">
        <input type="submit" value="No">
    </form>
    <br>
    </div>
</section>
{% endblock %}