{% extends 'base.html' %}

{% block addons %}
<meta name="description" content="{{ image.object }} - {{ image.comments | safe }}">
<meta name="author" content="Amateur Astro Image Team">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9418218820190844"
     crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<section>
    <article>
    <h1>{{ title }}</h1>
    <img src="/stand-{{ image.path }}" alt="{{ image.object }} - {{ image.date | date }}">
    </article>
    <h2>Details for the Image</h2>
    <table>
        <tr>
            <td>Object in the Image</td>
            <td>{{ image.object }}</td>
        </tr>
        <tr>
            <td>Date and Time</td>
            <td><time datetime="{{ image.date | date('YYYY-MM-DDTHH:mm') }}">{{ image.date | date }}</time></td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{ image.location }}</td>
        </tr>
        <tr>
            <td>Telescope Used</td>
            <td>{{ image.telescope }}</td>
        </tr>
        <tr>
            <td>Other Comments</td>
            <td>{{ image.comments }}</td>
        </tr>
    </table>
    <p style="text-align: center;"><a role="button" href="/{{ image.path }}" download>Full Size Download</a></p>
</section>
{% endblock %}