{% extends 'base.html' %}

{% block addons %}
<meta name="description" content="These are full list of images that I have taken through my telescopes.">
<meta name="author" content="Amateur Astro Image Team">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9418218820190844"
     crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<section>
    {% if images|length %}
    <h1>List of Images</h1>
    <div id="image-list">
        {% for image in images %}
        <article>
            <img src="/thumb-{{ image.path }}" alt="{{ image.object }} - {{ image.date | date }}">
            <h6>{{ image.object }} | <time datetime="{{ image.date | date('YYYY-MM-DDTHH:mm') }}">{{ image.date | date('MM/DD/YYYY') }}</time></h6>
            <p><a role="button" href="/image-view/{{ image.image_id }}">Details</a></p>
        </article>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if hasPrevious %}
        <a class="left-button" href="/images/{{ prev }}">&lt;</a>
        {% endif %}
        <div class="current-page">{{ pageNumber }} of {{ totalPages }}</div>
        {% if hasNext %}
        <a class="right-button" href="/images/{{ next }}">&gt;</a>
        {% endif %}
    </div>
    {% else %}
    <h1>No Images</h1>
    <p>There are no Images yet.</p>
    {% endif %}
</section>
{% endblock %}