{% extends 'base.html' %}

{% block endAddon %}
<script src="/js/formButton.min.js"></script>
{% endblock %}

{% block content %}
<section>
    <h1>Login</h1>
    {% if errorMessage != "" %}
    <p class="error-message">{{ errorMessage }}</p>
    {% endif %}
    <form action="/login" method="POST">
        <div>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" {% if email %} value="{{ email }}" {% endif %} required>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required>
        </div>
        <button id="sendForm" type="submit">Login</button>
    </form>
</section>
{% endblock %}